body,*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

.rate-stars{
    color: gold;
}

.flex-content-one{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    
}
.left-side{
    padding: 30px;
}
.title{
    color: hsl(300, 43%, 22%);
    margin-bottom: 15px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 45px;
}
.sub-text{
    color: hsl(303, 10%, 53%);
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    white-space:pre-line;
}
.ratings{
    padding: 20px;
}
.columns{
    display: flex;
    gap: 20px;
    padding: 10px 0;
    justify-content: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-bottom: 10px;
    width: 400px;
}
.columns:nth-child(2){
    margin-left: 3rem;
}
.columns:nth-child(3){
    margin-left: 6rem;
}

.flex-content-two{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.cards{
    width: 350px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: hsl(300, 43%, 22%);
    padding: 15px;
    color: hsl(0, 0%, 100%);
    font-family: 'League Spartan', sans-serif;
}

.profile{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
.profile img{
    border-radius: 35px;
}
.name{
    align-self: center;
    font-weight: 300;
}
.position{
    color: hsl(333, 80%, 67%);
}
.card-two{
    margin-top: 25px;
}
.card-three{
    margin-top: 50px;
}
.quote{
    font-weight: 300;
    color:hsl(300, 24%, 96%) ;
}
@media(max-width:961px){
    .flex-content-one,.flex-content-two{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .columns{
        text-align: center;
        display: block;
    }
    .left-side{
        text-align: center;
    }
    .columns:nth-child(2){
        margin-left: 0;
    }
    .columns:nth-child(3){
        margin-left: 0;
    }
    .card-two{
        margin-top: 0;
    }
    .card-three{
        margin-top: 0;
    }
    .title{
        font-size: 32px;
    }
    .sub-text{
        white-space:pre;
    }
}