*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color:#181824;
    background-image: url('../images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top;
    transition: all 0.5s;
    
}

