@media(max-width:500px){
    html{
        font-size: 50%;
    }
    .footer-grid{
        grid-template-columns: 1fr 1fr;
    }
    .todo-count{
        justify-self: left;
    }
    .todo-clear-completed-btn{
        justify-self: right
    }
    .todo-categories{
        display: none;
    }
    .class2{
        display: flex;
        margin-top: 2.4rem;
        box-shadow: -2px 4px 18px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -2px 4px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px 4px 18px 0px rgba(0, 0, 0, 0.75);
    }
}