/*///////////////////////////////////////////////////*/
/* HEAD SECTION */
/*///////////////////////////////////////////////////*/
.to-do-list-div {
  width: 60rem;
  max-width: 100%;
  margin: 10rem auto;
  padding: 2.4rem;
}

.todo-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
  
}
.todo-title {
  font-size: 4.8rem;
  color: hsl(0, 0%, 98%);
  font-weight: 700;
}
.todo-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.svg-moon {
  opacity: 0;
  width: 0;
  height: 0;
  transition: all 0.5s;
}

/*///////////////////////////////////////////////////*/
/* input  section */
/*///////////////////////////////////////////////////*/

.input-todo {
  margin-bottom: 3.2rem;
}
.to-do__input {
  font-size: 1.6rem;
  color: hsl(236, 33%, 92%);
  width: 100%;
  padding: 2.4rem;
  border: none;
  border-radius: 1rem;
  background-color: hsl(235, 24%, 19%);
  box-shadow: -2px 4px 18px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 4px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 4px 18px 0px rgba(0, 0, 0, 0.75);
}

/*///////////////////////////////////////////////////*/
/* input  section end */
/*///////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////*/
/* Main display section */
/*///////////////////////////////////////////////////*/

.main-inputs-outputs {
  background-color: hsl(235, 24%, 19%);
  box-shadow: -2px 4px 18px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 4px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 4px 18px 0px rgba(0, 0, 0, 0.75);
}

.outputs {
  list-style-type: none;
}
.output-list-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 4.8rem;
  align-items: center;
  font-size: 1.6rem;
  color: hsl(236, 33%, 92%);
  width: 100%;
  padding: 2.4rem;
  border: none;
  border-radius: 0.7rem;
  border-bottom: 1px solid hsl(235, 19%, 35%);
  background-color: hsl(235, 24%, 19%);
}

.delete {
  background: none;
  border: none;
  cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
                        CODE FROM W3SCHOOL FOR CUSTOM CHECKBOXES START
*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -30%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid hsl(235, 19%, 35%);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border-color: linear-gradient(
    90deg,
    rgba(94, 212, 254, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background: rgb(94, 212, 254);
  background: linear-gradient(
    90deg,
    rgba(94, 212, 254, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  top: 5px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* 
                        CODE FROM W3SCHOOL FOR CUSTOM CHECKBOXES END
*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.footer-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
  padding: 1.6rem 2.4rem;
}
.todo-count {
  color: hsl(234, 11%, 52%);
  font-size: 1.3rem;
}
.todo-btn {
  color: hsl(234, 11%, 52%);
  cursor: pointer;
  transition: all 0.3s;
}
.todo-btn:hover {
  color: hsl(236, 33%, 92%);
}
.todo-all {
  color: hsl(220, 98%, 61%);
}
.todo-categories {
  display: flex;
  gap: 3.2rem;
  cursor: pointer;
}
.class2 {
  display: none;
  justify-content: center;
  align-content: center;
  gap: 3.2rem;
  padding: 1.6rem 2.4rem;
  cursor: pointer;
  background-color: rgb(37 39 60);
}

.todo-clear-completed-btn {
  background: none;
  border: none;
  color: hsl(234, 11%, 52%);
  cursor: pointer;
  transition: all 0.3s;
}
.todo-clear-completed-btn:hover {
  color: hsl(236, 33%, 92%);
}

.drag-and-drop {
  font-size: 1.6rem;
  text-align: center;
  color: hsl(234, 11%, 52%);
}
/*///////////////////////////////////////////////////*/
/* Main display section end */
/*///////////////////////////////////////////////////*/


.checked-item{
  text-decoration: line-through;
}